<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='systemstyle.css') }}">
    <title>IMS</title>
</head>
<body>
    <header>
        <h1>Inventory Management System</h1>
    </header>
    <main>
        <section>
            <h1>Products available:</h1><br>
                {% for element in display %}
                    {{ element }} <br>
                {% endfor %}   
        </section>              
    </main>
    <footer>
        <a id="displayhome" href="/">
            HOME
        </a>
    </footer>
</body>
</html>