<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='systemstyle.css') }}">
    <title>IMS</title>
</head>
<body>
    <header>
        <h1>Inventory Management System</h1>
    </header>
    <main>
        <a href="display" onmouseover="interval()">
            Display products
        </a>
        <a href="update" onmouseover="interval()">
            Update product
        </a>
        <a href="add" onmouseover="interval()">
            Add new product
        </a>
        <a href="delete" onmouseover="interval()">
            Delete product
        </a> 

    </main>
    <footer>
    </footer>
</body>
</html>